*,
::after,
::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

.hidden,
.error.hidden {
  display: none;
}

.page {
  position: relative;
  display: inline-block;
  padding: 20px;
}

.list {
  width: 430px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 20px;
}

.list-title {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  align-self: center;
}

.list-update {
  color: #000;
  font-size: 18px;
}

.list-items {
  list-style-type: none;
}

.loading-item {
  margin-bottom: 22px;
}

.loading-item__title {
  height: 14px;
  width: 157px;
  margin-bottom: 10px;
  background-color: #a8a8a8;
}

.loading-item__wrapper {
  display: flex;
  gap: 16px;
}

.loading-item__img {
  width: 34px;
  height: 42px;
  background-color: #a8a8a8;
}

.loading-item__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content__string {
  height: 16px;
  width: 100%;
  background-color: #a8a8a8;
}

.list-item {
  margin-bottom: 22px;
}

.list-item__wrapper {
  display: flex;
  gap: 10px;
}

.list-item__title {
  font-size: 14px;
  margin-bottom: 8px;
}

.list-item__img {
  display: block;
  flex-shrink: 0;
  width: 34px;
  height: 42px;
  font-size: 12px;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-text {
  text-align: center;
  font-size: 26px;
}